# === [ Redis Options ] ===
# - To get these credentials, go to https://www.reddit.com/prefs/apps
# - Make sure the account can see all content and has thumbnails enabled.
# - Password is required for "bot authentication"
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USERNAME=
REDDIT_PASSWORD=
ALLOW_NSFW=false
ALLOW_OEMBED=Streamable,RedGIFs
DENY_SUBREDDITS=

# === [ Cache Options ] ===
# Options are: none, memory, file, redis
CACHE_STORE=file
# Cache duration of reddit posts (7 days by default)
CACHE_POST_TTL=604800
# Cache duration of the /v/ endpoint (videos and combined videos)
CACHE_VIDEO_TTL=604800
# Cache duration of the /g/ endpoint (gifs and generated gifs)
CACHE_GIF_TTL=604800
# Cache duration of the /i/ endpoint (static images)
CACHE_IMAGE_TTL=3600

# -> CACHE_STORE=redis
REDIS_URL=redis://localhost:6379/0

# -> CACHE_STORE=file
FILE_CACHE_DIR=./.cache