/* Write your global styles here, in PostCSS syntax */
/*
 These are redundant as Skeleton automatically handles these in our stylesheets for you.
@tailwind base;
@tailwind components;
@tailwind utilities;
*/



html, body { @apply h-full overflow-hidden; }